<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>
  <form class="edit" action="/map/editfinished/<%= oneListing._id %>?_method=PUT" method="POST">
      <input type="number" name='oneListing[quantity]' value="<%= oneListing.quantity %>" placeholder="Quantity?"><br>
      <input type="tel" name='oneListing[tel]' value="<%= oneListing.tel %>" placeholder="Telephone?"><br>
      <!-- <input type="email" name='oneListing[email]' value=''>"  placeholder="Email"><br> -->
      <input type='text' name='oneListing[title]' value="<%= oneListing.title %>" placeholder='Title'><br>
      <input type='text' name='oneListing[description]' value="<%= oneListing.description %>" placeholder='What are you selling today?'><br>
      <input type='number' name='oneListing[price]' value="<%= oneListing.price %>" placeholder='What price are you willing to Bar Gain from?'><br>
      <p>Category</p>

      <p>Have a picture?</p>
      <input type="file" name="oneListing[pic]" accept="image/*">

      <input type="submit" value="Update">
    </form>
</body>
</html>
