
<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../css/map.css">
  </head>
<body>

  <div id="search-results-container">
  <h1><%= user.username %></h1>
    <h2>Search Results:</h2>
    <% filteredListings.forEach((listing) => { %>
      <div class="singleSearchResult">
        <p><%= listing.title %></p>
        <p><%= listing.category %></p>
        <p><%= listing.price %></p>
        <p><%= listing.description %></p>
        <p>Number of BarGainers following this item: <%= listing.favoriteUsers.length %></p>
        <p> USERS: </p>
        <% listing.favoriteUsers.forEach((favUser) => { %>
          <p> <%= favUser %> </p>
        <% }) %>
        <form action="/save" method="POST">
          <input type="hidden" name="listing[_id]" value="<%= listing._id %>">
          <input type="submit" value="SAVE">
        </form>
      </div>
    <% }) %>
  </div>

    <div id="map"></div>

<script>
      function initMap() {
        <% for (let i=0; i < filteredListings.length; i++) { %>
        var uluru<%= i %> = {lat: <%= filteredListings[i].latitude %> , lng: <%= filteredListings[i].longitude %>};
        <% }; %>

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: {lat: <%= currentLocation.location.lat %>, lng: <%= currentLocation.location.lng %>},
        });

        <% for (let i=0; i < filteredListings.length; i++) { %>
        var contentString<%= i %> = '<div id="content">'+
            '<div id="siteNotice">'+
            '<h1><%= filteredListings[i].sellerId %></h1>'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
            '<div id="bodyContent">'+
            '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is looking to sell a snowboard.</p>'+
            '<a href="/listings/<%= filteredListings[i]._id %>" title="">See your posting</a>'
            '</div>'+
            '</div>';
        var infowindow<%= i %> = new google.maps.InfoWindow({
          content: contentString<%= i %>
        });
        var marker<%= i %> = new google.maps.Marker({
          position: uluru<%= i %>,
          map: map
        });
         marker<%= i %>.addListener('click', function() {
          infowindow<%= i %>.open(map, marker<%= i %>);
        });
         <% }; %>
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUfW5KCtL1Uz7yuOxpcNWPG6kWzr_1_ik&callback=initMap">
    </script>
  </body>
</html>

 -->
 -->
